<h1>Edit Account</h1>
<p-button label="Back" styleClass="p-button" (onClick)="navigateToProfile()"></p-button>
<div class="form">
    <div class="innerForm">
        <div class="inputBox">
            <label class="title" htmlFor="username">Password</label>
            <p-password class="input" [(ngModel)]="updateUser.password" [toggleMask]="true" required></p-password>
        </div>


        <div class="inputBox">
            <label class="title" htmlFor="confirmPassword">Confirm Password</label>
            <p-password class="input" [(ngModel)]="confirmPassword" [toggleMask]="true" [feedback]="false" required required></p-password>
        </div>

        <div class="inputBox">
            <label class="title" htmlFor="first_name">First Name</label>
            <input class="input" pInputText id="first_name" aria-describedby="first_name-help"
                [(ngModel)]="updateUser.first_name"  required/>
        </div>

        <div class="inputBox">
            <label class="title" htmlFor="last_name">Last Name</label>
            <input class="input" pInputText id="last_name" aria-describedby="last_name-help"
                [(ngModel)]="updateUser.last_name"  required/>
        </div>

        <div class="inputBox">
            <label class="title" htmlFor="Email">Email</label>
            <input class="input" pInputText id="Email" aria-describedby="Email-help" [(ngModel)]="updateUser.email"  required/>
        </div>

        <div class="inputBox">
            <label class="title" htmlFor="Phone">Phone</label>
            <input class="input" pInputText id="Phone" aria-describedby="Phone-Help" [(ngModel)]="updateUser.phone"  required/>
        </div>

        <div class="inputBox">
            <label class="title" htmlFor="Address">Address</label>
            <input class="input" pInputText id="Address" aria-describedby="Address-help"
                [(ngModel)]="updateUser.address"  required/>
        </div>

        <p-dropdown class="createDrop" [style]="{'width':'100%'}" [options]="states" [(ngModel)]="selectedState" optionLabel="title" [filter]="true" filterBy="title" [showClear]="true" placeholder="Select a State">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedState">
                    <div>{{ selectedState.title }}</div>
                </div>
            </ng-template>
            <ng-template let-state pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ state.title }}</div>
                </div>
            </ng-template>
        </p-dropdown>


         <p-dropdown class="createDrop" [options]="languages" optionLabel="title" [style]="{'width':'100%'}" [(ngModel)]="selectedLanguage"></p-dropdown>


        <p-button label="Update Account" styleClass="p-button" (onClick)="updateUserValidate()">
            <mat-icon>save</mat-icon>
        </p-button>
    </div>
</div>
