<div>
  <h2><mat-icon>person</mat-icon> {{ 'user.h1' | translate }} {{userData.first_name}}!</h2>
  <div style="padding: 10px;display: flex;justify-content: space-evenly;">
    <p-button
      label="{{ 'user.logout' | translate }}"
      styleClass="p-button"
      (click)="logout()"
    ><mat-icon>logout</mat-icon></p-button>
    <p-button
    label="{{ 'user.edit' | translate }}"
    styleClass="p-button-secondary"
    (click)="editUser()"
  ><mat-icon>edit</mat-icon></p-button>
  <p-button
    label="{{ 'user.view' | translate }}"
    styleClass="p-button-help"
    (click)="navigateToReservations()"
  ><mat-icon>event_upcoming</mat-icon></p-button>
  </div>
</div>

<div class="user-table">
  <table>
    <tr>
      <td>{{ 'user.username' | translate }}</td><td> {{userData.username}}</td>
    </tr>
    <tr>
      <td>{{ 'user.firstName' | translate }}</td><td> {{userData.first_name}}</td>
    </tr>
    <tr>
      <td>{{ 'user.lastName' | translate }}</td><td> {{userData.last_name}}</td>
    </tr>
    <tr>
      <td>{{ 'user.email' | translate }}</td><td> {{userData.email}}</td>
    </tr>
    <tr>
      <td>{{ 'user.address' | translate }}</td><td> {{userData.address}}</td>
    </tr>
    <tr>
      <td>{{ 'user.phone' | translate }}</td><td> {{userData.phone}}</td>
    </tr>
    <tr>
      <td>{{ 'user.language' | translate }}</td><td> {{userData.language}}</td>
    </tr>
  </table>
</div>
