<div>
  <div class="card flex justify-content-center">
    <p-dropdown [options]="states" [(ngModel)]="selectedState" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a State" (click)="getByStateId()">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedState">
            <img src={{selectedState.flag}} style="width: 18px" [class]="'flag flag-' + selectedState.code.toLowerCase()"/>
          <div>{{selectedState.name}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>


<div *ngIf="visibleData">
  <ul *ngFor="let item of cabinData">
    <li >{{item.cabin_name}}</li>
    <li>{{item.price}}</li>
    <p-button label="reserve" styleClass="p-button-raised p-button-secondary" class="navButton" (click)="navigateToReservePage(item.id)"></p-button>
  </ul>
</div>
