<div>
  <div class="card flex justify-content-center">
    <p-dropdown [options]="states" [(ngModel)]="selectedState" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a State" (click)="getByStateId()">
    </p-dropdown>
  </div>
</div>


<div *ngIf="visibleData">
  <ul *ngFor="let item of cabinData">
    <li >{{item.cabin_name}}</li>
    <li>{{item.price}}</li>
    <p-button label="reserve" styleClass="p-button-raised p-button-secondary" class="navButton" (click)="navigateToReservePage(item.id)"></p-button>
  </ul>
</div>

<button (click)="clearStorage()">Clear</button>



<!--
  <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedState">
          <img src="https://cdn.britannica.com/51/4651-004-B1024BD2/flags-Texas-independence-motif-flag-Mexico-star-1845.jpg" style="width: 18px" />
          <div></div>
        </div>
      </ng-template>
-->
