<div>
  <div class="card flex justify-content-center">
    <p-dropdown [options]="states" [(ngModel)]="selectedState" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a State" (click)="getByStateId()">
      <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedState">
            <img src={{selectedState.flag}} style="width: 18px" [class]="'flag flag-' + selectedState.code.toLowerCase()"/>
          <div>{{selectedState.name}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>


  <div *ngIf="visibleData" class="cabins-container" style="display: flex;">

    <div>
      <ul *ngFor="let item of reserveCabins" style="list-style-type: none;">
        <li><img src={{item.image}} alt="cabinImg" width="300px" style="padding: 10px;"></li>
      </ul>
    </div>

    <div>
      <ul *ngFor="let item of reserveCabins" style="list-style-type: none;">

        <li><h1>{{item.cabin_name}}</h1></li>

        <li><p>sleeps - {{item.sleeps}} . capacity - {{item.capacity}}</p></li>

        <li><p>{{item.description}}</p></li>

        <li>
          <div style="display: flex; justify-content: space-between;">
            <div>
              some features
            </div>
            <div>
              other features
            </div>
          </div>
        </li>

        <li>{{item.price}}</li>

        <p-button label="reserve" styleClass="p-button-raised p-button-secondary" class="navButton" (click)="navigateToReservePage(item.id)"></p-button>

      </ul>
    </div>
  </div>
