<h1>Create Account</h1>

<div class="flex flex-column gap-2">
    <label htmlFor="username">User Name</label>
    <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="password" />
</div>


<div class="card flex justify-content-center">
    <label htmlFor="username">Password</label>
    <p-password [(ngModel)]="password" [toggleMask]="true"></p-password>
</div>


<div class="card flex justify-content-center">
    <label htmlFor="username">Confirm Password</label>
    <p-password [(ngModel)]="password" [toggleMask]="true" [feedback]="false"></p-password>
</div>

<div class="flex flex-column gap-2">
    <label htmlFor="username">First Name</label>
    <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="password" />
</div>

<div class="flex flex-column gap-2">
    <label htmlFor="username">Last Name</label>
    <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="password" />
</div>

<div class="flex flex-column gap-2">
    <label htmlFor="username">Email</label>
    <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="password" />
</div>

<div class="flex flex-column gap-2">
    <label htmlFor="username">Phone</label>
    <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="password" />
</div>

<div class="flex flex-column gap-2">
    <label htmlFor="username">Address</label>
    <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="password" />
</div>

<div class="flex flex-column gap-2">
    <label htmlFor="username">Zip Code</label>
    <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="password" />
</div>

<p-button label="Create Account" styleClass="p-button-secondary"></p-button>



