<h1>{{ 'createUser.h1' | translate }}</h1>
<div class="form">
    <div class="innerForm">
        <div class="inputBox">
            <label class="title" htmlFor="username">{{ 'createUser.username' | translate }}</label>
            <input class="input" pInputText id="username" aria-describedby="username-help"
                [(ngModel)]="newUser.username" required/>
        </div>


        <div class="inputBox">
            <label class="title" htmlFor="username">{{ 'createUser.password' | translate }}</label>
            <p-password class="input" [(ngModel)]="newUser.password" [toggleMask]="true" required></p-password>
        </div>


        <div class="inputBox">
            <label class="title" htmlFor="confirmPassword">{{ 'createUser.confirmPassword' | translate }}</label>
            <p-password class="input" [(ngModel)]="confirmPassword" [toggleMask]="true" [feedback]="false" required required></p-password>
        </div>

        <div class="inputBox">
            <label class="title" htmlFor="first_name">{{ 'createUser.firstName' | translate }}</label>
            <input class="input" pInputText id="first_name" aria-describedby="first_name-help"
                [(ngModel)]="newUser.first_name"  required/>
        </div>

        <div class="inputBox">
            <label class="title" htmlFor="last_name">{{ 'createUser.lastName' | translate }}</label>
            <input class="input" pInputText id="last_name" aria-describedby="last_name-help"
                [(ngModel)]="newUser.last_name"  required/>
        </div>

        <div class="inputBox">
            <label class="title" htmlFor="Email">{{ 'createUser.email' | translate }}</label>
            <input class="input" pInputText id="Email" aria-describedby="Email-help" [(ngModel)]="newUser.email"  required/>
        </div>

        <div class="inputBox">
            <label class="title" htmlFor="Phone">{{ 'createUser.phone' | translate }}</label>
            <input class="input" pInputText id="Phone" aria-describedby="Phone-Help" [(ngModel)]="newUser.phone"  required/>
        </div>

        <div class="inputBox">
            <label class="title" htmlFor="Address">{{ 'createUser.address' | translate }}</label>
            <input class="input" pInputText id="Address" aria-describedby="Address-help"
                [(ngModel)]="newUser.address"  required/>
        </div>


         <p-dropdown class="createDrop" [options]="languages" optionLabel="title" [style]="{'width':'100%'}" [(ngModel)]="selectedLanguage"></p-dropdown>


        <p-button label="{{ 'createUser.createAccount' | translate }}" styleClass="p-button" (click)="createUserValidate()">
            <mat-icon>save_as</mat-icon>
        </p-button>
    </div>
</div>
