<div class="heading">
  <h1>{{cabinData.cabin_name}}</h1>
</div>

<!--rating template-->
<div class="rating-container">
<div class="card flex justify-content-center">
  <p-rating [(ngModel)]="value" [readonly]="true" [cancel]="false">
      <ng-template pTemplate="cancel">
          <img src="https://primefaces.org/cdn/primeng/images/demo/rating/cancel.png" width="25px" height="25px" />
      </ng-template>
      <ng-template pTemplate="onicon">
          <img src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon-active.png" width="25px" height="25px" />
      </ng-template>
      <ng-template pTemplate="officon">
          <img src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon.png" width="25px" height="25px" />
      </ng-template>
  </p-rating>
</div>
  <p> - {{cabinData.cabinloc.city}}, {{cabinData.cabinloc.stateId}}</p>
</div>

<div>
  <p-button label="Save" styleClass="p-button-raised p-button-rounded p-button-text p-button-danger p-button-help" icon="pi pi-heart"></p-button>
</div>

<div class="main-container">
  <img src={{firstImg}} style="max-width: 700px; height: 500px; margin-left: 150px; margin-top: 50px;">
  <div class="sub-container">
    <img [src]="secondImg">
  <img [src]="thirdImg">
</div>
<div class="sub-container" >
  <img [src]="fourthImg">
  <img [src]="fifthImg">
</div>
</div>

<div class="reserve-container">

  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni quasi unde nihil consequatur vitae voluptate neque assumenda ullam
    perspiciatis eum deserunt culpa tenetur optio alias debitis, atque, ipsam nesciunt molestiae!
  </div>

  <div class="card flex justify-content-center" style="margin: 100px 980px;">
    <p-card header="${{cabinData.price}} night" subheader="sleeps: {{cabinData.sleeps}}" [style]="{ width: '360px'}">
        <ng-template pTemplate="header">
            <img src="../../../assets/logo.png" alt="logo" style="width: 200px;">
        </ng-template>

        <div style="display: flex;">
          <span style="flex: 1;">
            <p>Check In<p-calendar [(ngModel)]="checkIn"></p-calendar></p>
          </span>
          <span style="flex: 1;">
            <p>Check out<p-calendar [(ngModel)]="checkOut"></p-calendar></p>
          </span>

        </div>

        <span style="flex: 1; color: red;" *ngIf="isCheckoutValid">
          <p>Check out date must be after the check in</p>
        </span>

        <ng-template pTemplate="footer">
            <p-toast></p-toast>
            <p-button label="Reserve" [loading]="isReservationValid"  icon="pi pi-check" (click)="reserve()" [disabled]="isCheckoutValid"></p-button>
            <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }" (click)="cancel()"></p-button>
        </ng-template>
    </p-card>
  </div>
</div>
