.rating-container {
  display: flex;
}

/* Import google font */
@import url(
'https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;

}

.sub-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.sub-container img {
  width: 300px;
  height: 200px;
  padding: 10px;
}
