<nav>
  <!--navigation buttons and logo that is present throughout the entire app-->
  <p-button label="Home" styleClass="p-button-raised p-button-secondary" routerLink="home" class="navButton" icon="pi pi-home"></p-button>
  <p-button label="Cabins" styleClass="p-button-raised p-button-secondary" class="navButton" routerLink="/cabins"></p-button>
  <p-button label="Users" styleClass="p-button-raised p-button-secondary" class="navButton" routerLink="/users"></p-button>
</nav>
<div>
  <h1>Company Name</h1>
</div>
<router-outlet></router-outlet>