#appLogo {
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

#appTitle {
    width: 100%;
    display: flex;
}



#logInContainer {
    height: 100%;
    width: 100%
}

nav {width: 100%;
    float: left;
}

.navButton {
    float: left;
}

.navUser {
    float: right;
}