<div class="container1">
    <img class="imageL" src="../assets/left.gif" alt="Cabin Logo" id="logoL">


    <div class="homedesc" font-size="60px">
        <h1 class="homeTitle">{{'main.h1' | translate}}</h1>
        {{'main.h1Content1' | translate}}
        <br> {{'main.h1Content2' | translate}}
    </div>
    <img class="imageR" src="../assets/right.gif" alt="Cabin Logo" id="logoR">




</div>
<br>
<div class="container2">

    <div>
        <h1 class="homeTitle">{{'main.h2' | translate}}</h1>
        <div class="homedesc" font-size="60px">
            {{'main.h2Content1' | translate}}
        </div>
    </div>


</div>

<div class="container3">
    <div class="cabindesc">
        <div class="cabindescimg"><img class="imageR" src="../assets/SleepSoundly.jpg" alt="Cabin Logo"></div>
        <div class="cabindesctext">
            <h3 class="cabindesctextTitle">{{'main.h3' | translate}}</h3>
            <div class="cabindesctextDesc">
                <p>{{'main.h3Content1' | translate}} {{'main.h3Content2' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="cabindesc">
        <div class="cabindescimg"><img class="imageR" src="../assets/KitchentoCookin.jpg" alt="Cabin Logo"></div>
        <div class="cabindesctext">
            <h3 class="cabindesctextTitle">{{'main.h4' | translate}}</h3>
            <div class="cabindesctextDesc">
                <p>{{'main.h4Content1' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="cabindesc">
        <div class="cabindescimg"><img class="imageR" src="../assets/WhenNatureCalls.jpg" alt="Cabin Logo"></div>
        <div class="cabindesctext">
            <h3 class="cabindesctextTitle">{{'main.h5' | translate}}</h3>
            <div class="cabindesctextDesc">
                <p>{{'main.h5Content1' | translate}}</p>
            </div>
        </div>
    </div>
    <div class="cabindesc">
        <div class="cabindescimg"><img class="imageR" src="../assets/OutsideYourDoor.jpg" alt="Cabin Logo"></div>
        <div class="cabindesctext">
            <h3 class="cabindesctextTitle">{{'main.h6' | translate}}</h3>
            <div class="cabindesctextDesc">
                <p>{{'main.h6Content1' | translate}}</p>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <img class="imageR" src="../assets/logo.png" alt="Cabin Logo" id="logoR">
</div>
